.header {
    height:5.5em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 var(--16px);
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    padding: 20px auto 0;
}

.navigation {
    display: flex;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 1.25rem;
    border-radius: 50px;
}

.li {
    display: flex;
    position: relative;
}

.li a {
    display:flex;
    align-items: center;
    padding-right: 0.9225rem;
    border-radius: 0.5rem;
    color: #025a4e;
}